<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<section class="rvp-main page-width">

  {% if section.settings.title != blank %}
    <h1 class="section-title">{{ section.settings.title }}</h1>
  {% endif %}
  
  {% if section.settings.sub_title != blank %}
  <div class="sub-title">{{ section.settings.sub_title }}</div>
  {% endif %}

  <div class="swiper-container rv-products">
    <div class="swiper-wrapper">
      {% for product in section.settings.rv_products %}
        <div class="swiper-slide">
          <div class="rv-products-box">
            <img src="{{ product.images.first | image_url }}" alt="{{ product.title }}">
            <h3>{{ product.title }}</h3>
            <p>{{ product.description }}</p>
            <div class="rv-main-price">{{ product.price }}</div>
            <button>Add to cart</button>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Progress bar (scrollbar) -->
    <div class="swiper-scrollbar"></div>
  </div>

</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    new Swiper(".swiper-container", {
      slidesPerView: 1,
      spaceBetween: 20,
      loop: false,
      scrollbar: {
        el: ".swiper-scrollbar",
        draggable: true,
      },
      breakpoints: {
        640: {
          slidesPerView: {{ section.settings.mobile_count }},
        },
        1024: {
          slidesPerView: {{ section.settings.iPad_count }},
        },
        1366: {
          slidesPerView: {{ section.settings.desktop_count }},
        },
      },
    });
  });
</script>







{% schema %}
  {
    "name": "Recently Viewed Products",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      },
       {
        "type": "text",
        "id": "sub_title",
        "label": "Section Sub Title"
      },
      {
        "type": "header",
        "content": "Recently Viewed"
      },
      {
        "type": "product_list",
        "id": "rv_products",
        "label": "Recently Products"
      },
      {
        "type": "text",
        "id": "desktop_count",
        "label": "Products on Desktop"
      },
      {
        "type": "text",
        "id": "iPad_count",
        "label": "Products on iPad"
      },
      {
        "type": "text",
        "id": "mobile_count",
        "label": "Products on Mobile"
      }
    ],
    "presets": [
      {
        "name": "Recently Viewed Products"
      }
    ]
  }
{% endschema %}